pkgbase = animecix
pkgname = animecix
pkgver = 2.9.4
pkgrel = 1
pkgdesc = Türkçe anime izleme uygulaması (GTK4/libadwaita + mpv)
arch = x86_64
url = https://github.com/nyx47rd/animecix
license = MIT
makedepends = rust
makedepends = cargo
makedepends = git
depends = gtk4
depends = libadwaita
depends = mpv
source = animecix-2.9.4.tar.gz::https://github.com/nyx47rd/animecix/archive/refs/tags/v2.9.4.tar.gz
sha256sums = 9c67b587f2568a3549647a136031f07c3df3668b631484a766b373f0f2e0ed6f
