[Desktop Entry]
Type=Application
Name=AnimeciX
GenericName=Anime İzleme Uygulaması
Comment=Türkçe anime izleme istemcisi (mpv tabanlı)
Exec=animecix
Icon=animecix
Terminal=false
Categories=AudioVideo;Video;GTK;
StartupWMClass=AnimeciX
Keywords=anime;video;player;izle;
